html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}