html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}

.flex {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 30px;
    border: 1px solid #ddd;

}

.hideButton{
    border: none;
    background: none;
}